<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" routerLink="/">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/groceries" href="#">Groceries</a>
        </li>
      </ul>
      <button type="button" routerLink="/basket" class="btn btn-primary my-2 my-lg-0">
        <i class="fas fa-shopping-basket mr-2"></i> <span class="badge badge-light">{{ basketService.getBasketSize() }}</span>
      </button>
    </div>

  </div>
</nav>

<div class="container pt-4">
  <router-outlet></router-outlet>
</div>